
/* font setting */
.title {
    font-family: "Ubuntu", serif;
    font-weight: 900;
    font-style: normal;
    text-align: center; 
}

.text {
    font-family: "Ubuntu", serif;
    font-weight: 900;
    font-style: normal;
}

h1 {
    border-style: dashed; /* looks at positioning */
    padding: 10px;
}

.formBox {
    border-style: dashed;
    display: grid; 
    grid-template-columns: auto auto; 
    gap: 2px; 
}

.formBox label {
    text-align: right; /* set texts to right */
}

.formBox input {
    width: 200px; /* set a fixed width for the input fields */
}

.btnBox {
    margin-top: 10px;
    border-style: dashed; /* looks at positioning */
    justify-content: center;
    display: grid; 
    grid-template-rows: auto auto; 
    gap: 2px; 
}

button{
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: .7px .7px black;
}

button:hover {
    box-shadow: .3px .3px black;
}

.btnBox button {
    width: 200px; /* set a fixed width for the buttons */
}

.newUserBTN {
    border-color: #ffffff;
    background-color: rgb(240, 240, 240);
    color: black;
}

.newUserBTN:hover {
    border-color: #e9e9e9;
    background-color: #e9e9e9;
    color: #262626;
}

.loginBTN {
    border-color: #46a858;
    background-color: #46a858;
    color: #ffff;
}

.loginBTN:hover {
    border-color: #389649;
    background-color: #389649;
    color: #f0f0f0;
}

.backBTN {
    border-color: #ffffff;
    background-color: rgb(240, 240, 240);
    color: black;
}

.backBTN:hover {
    border-color: #e9e9e9;
    background-color: #e9e9e9;
    color: #262626;
}

.createBTN {
    border-color: #3a9cdc;    
    background-color: #3a9cdc;
    color: #ffff;
}

.createBTN:hover {
    border-color: #3090d0;
    background-color: #3090d0;
    color: #f0f0f0;
}

.box {
    border-style: dashed; /* looks at positioning */
    margin-bottom: 10px;
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-align: center;
}