.title {
    font-size: 35px;
    border-style: dotted;
    font-family: "Ubuntu", serif;
    font-weight: 900;
    font-style: normal;
    text-align: center; 
}

.top {
    font-size: 20px;
    margin-top: 10px;
    border-style: dotted;
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center; 
}

button{
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: .7px .7px black;
}

button:hover {
    box-shadow: .3px .3px black;
}

.userText {
    font-size: 22.5px;
    font-weight: 900;
    color: #3d84c5;
    padding-left: 3px;
    padding-right: 3px;
}